.access-denied-page {
  text-align: center;
  margin: 50px auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}
.access-denied-page h1 {
  font-size: 2em;
  color: #d9534f;
}
.access-denied-page p {
  font-size: 1.2em;
  color: #333;
}
