{# modules/custom/url_access_control/templates/access-denied-page.html.twig #}
<div class="access-denied-page">
  <h1>{{ 'Access Denied'|t }}</h1>
  <p>{{ 'You cannot access this page directly via its URL.'|t }}</p>
</div>
